---
// Redirect to /psikolojik-destek
const html = `<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/psikolojik-destek">
    <link rel="canonical" href="/psikolojik-destek">
    <title>Duygusal Destek - Psikolojik Destek</title>
</head>
<body>
    <p>Bu sayfa <a href="/psikolojik-destek">psikolojik-destek</a> sayfasına taşınmıştır.</p>
</body>
</html>`;
---
{html}
